<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPWZUOhiydCD3i6rIkEXQ0AcdbA0lH3hc</string>
	<key>GCM_SENDER_ID</key>
	<string>768491054932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.traveler</string>
	<key>PROJECT_ID</key>
	<string>traveller-380414</string>
	<key>STORAGE_BUCKET</key>
	<string>traveller-380414.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768491054932:ios:2fb5b752a18ab136698ac1</string>
</dict>
</plist>